= content_for :title do
  Контакты
.columns-container
  #columns.container
    / page heading
    %h2.page-heading
      %span.page-heading-title2
    / ../page heading
    #contact.page-content.page-contact
      #message-box-conact
      .row
        .col-sm-6
          %h3.page-subheading Задайте вопрос
          .contact-form-box
            = form_tag '/mail', remote: true do
              .form-selector
                = label_tag 'Ваш Email'
                = text_field_tag 'email', nil, class: 'form-control input-sm', required: true
              .form-selector
                = label_tag 'Сообщение'
                = text_area_tag 'message', nil, class: 'form-control input-sm', size: '5x4', required: true
              .form-selector
                = button_tag 'Отправить', class: 'btn', id: 'btn-send-contact'
                // %button#btn-send-contact.btn Send
          .alert.alert-success.data-dismissible#message-sent
            %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
              %span{"aria-hidden" => "true"} ×
            Сообщение отправлено
        #contact_form_map.col-xs-12.col-sm-6
          %h3.page-subheading Контакты
          %p
            Друзья, мы работаем для вас со вторника по воскресенье. Понедельник - выходной.
            %br
            Товар отправляем каждый день до 15:00.
          %br
          %p
            Вы всегда сможете получить консультацию по ассортименту наших товаров следующими способами:
          %br
          // %ul
          //   %li Сделав заказ на нашем сайте в любой день недели и в любое время суток
          //   %li По телефону: 38 (096) 88-69-888
          //   %li
          //     Написать на почту:
          //     %span.text-bold pin-shop@mail.ua
          // %br/
          %ul.store_info
            %li
              %i.fa.fa-home>
              Сделав заказ на нашем сайте в любой день недели и в любое время суток
            %li
              %i.fa.fa-phone
              По телефону:
              %strong 38 (096) 88-69-888
            %li
              %i.fa.fa-envelope
              Написать на почту:
              %strong pin-shop@mail.ua
