.columns-container
  #columns.container
    .page-content.page-order
      .heading-counter.warning
        Товаров:
        %span= @cart.total_items
      .order-detail-content
        = form_for @cart do |f|
          %table.table.table-bordered.table-responsive.cart_summary
            %thead
              %tr.text-center
                %th.cart_product Товар
                %th Описание
                %th Цена
                %th К-во
                %th Сумма
                %th.action
                  %i.fa.fa-trash-o
            %tbody
              - if @cart.line_items.present?
                - @cart.line_items.each do |line_item|
                  = f.fields_for :line_items, line_item do |item_f|
                    = render partial: 'line_items/cart_line_item', locals:{f: item_f, line_item: line_item}
            %tfoot
              %td{:colspan => "2"}
              %td{:colspan => "2"}
                %strong Сумма заказа
              %td{:colspan => "2"}
                %strong= number_to_currency(@cart.total_price, locale: :uk)
          .cart_navigation
            = link_to 'Продолжить покупки', root_path, class: 'prev-btn'
            = f.button 'Оформить заказ', class: 'next-btn'