.columns-container
  #columns.container
    %h2.page-heading.no-line
      %span.page-heading-title2 Оформление заказа
    .page-content.page-order
      %ul.step
        %li.current-step
          %span 01. Summary
        %li
          %span 02. Sign in
        %li
          %span 03. Address
        %li
          %span 04. Shipping
        %li
          %span 05. Payment
      .heading-counter.warning
        Товаров:
        %span= @cart.total_items
      .order-detail-content
        %table.table.table-bordered.table-responsive.cart_summary
          %thead
            %tr.text-center
              %th.cart_product Товар
              %th Описание
              %th Цена
              %th К-во
              %th Сумма
              %th.action
                %i.fa.fa-trash-o
          %tbody
            - @cart.line_items.find_each do |line_item|
              %tr
                %td.cart_product
                  = link_to category_product_path(line_item.product.category, line_item.product) do
                    = image_tag(line_item.product.image.url(:thumb), alt: "#{line_item.product.name}")
                %td.cart_description
                  %p.product-name
                    = link_to line_item.product.name, category_product_path(line_item.product.category, line_item.product)
                  %small.cart_ref
                    Код товара:
                    = line_item.product.id
                  %br/
                  %small
                    Размер:
                    = line_item.size if line_item.size.present?
                %td.price
                  %span= number_to_currency(line_item.product.price, locale: :uk)
                = form_for line_item do |f|
                  %td.qty
                    .js-counter
                      = f.text_field :quantity, class: 'form-control input-sm item-quantity'
                      %a.qty-btn-plus{:href => "#"}
                        %i.fa.fa-caret-up
                      %a.qty-btn-min{:href => "#"}
                        %i.fa.fa-caret-down
                %td.price
                  %span= number_to_currency(line_item.total_price, locale: :uk)
                %td.action
                  = link_to 'Delete item', line_item, method: :delete
                  // %a{:href => "#"} Delete item
          %tfoot
            %td{:colspan => "2"}
            %td{:colspan => "2"}
              %strong Сумма заказа
            %td{:colspan => "2"}
              %strong= number_to_currency(@cart.total_price, locale: :uk)
        .cart_navigation
          = link_to 'Продолжить покупки', root_path, class: 'prev-btn'
          %a.next-btn{:href => "#"} Оформить заказ

