.columns-container
  #columns.container
    %h2.page-heading.no-line
      %span.page-heading-title2 Оформление заказа
    .page-content.page-order
      %ul.step
        %li.current-step
          %span 01. Summary
        %li
          %span 02. Sign in
        %li
          %span 03. Address
        %li
          %span 04. Shipping
        %li
          %span 05. Payment
      .heading-counter.warning
        Товаров:
        %span= @cart.total_items
      .order-detail-content
        %table.table.table-bordered.table-responsive.cart_summary
          %thead
            %tr.text-center
              %th.cart_product Товар
              %th Описание
              %th Цена
              %th К-во
              %th Сумма
              %th.action
                %i.fa.fa-trash-o
          %tbody
            - if @cart.line_items.present?
              = render partial: 'line_items/cart_line_item', collection: @cart.line_items, as: :line_item
          %tfoot
            %td{:colspan => "2"}
            %td{:colspan => "2"}
              %strong Сумма заказа
            %td{:colspan => "2"}
              %strong= number_to_currency(@cart.total_price, locale: :uk)
        .cart_navigation
          = link_to 'Продолжить покупки', root_path, class: 'prev-btn'
          = link_to 'Оформить заказ', new_order_path, class: 'next-btn'