= content_for :js do
  :coffee
    $(document).ready ->
      $('.slider-range-price').each ->
        min = $(this).data('min')
        max = $(this).data('max')
        unit = $(this).data('unit')
        value_min = $(this).data('value-min')
        value_max = $(this).data('value-max')
        label_reasult = $(this).data('label-reasult')
        t = $(this)
        $(this).slider
          range: true
          min: min
          max: max
          values: [
            value_min
            value_max
          ]
          slide: (event, ui) ->
            result = label_reasult + ' ' + ui.values[0] + ' ' + unit + ' - ' + ui.values[1] + ' ' + unit
            t.closest('.slider-range').find('.amount-range-price').html result
            return
          change: (event, ui) ->
            $.ajax
              url: "#{category_path(@category)}"
              dataType: 'script'
              data:
                min_price: ui.values[0]
                max_price: ui.values[1]
            return

      $('input.product-brand').on 'click', ->
        brands = $('input.product-brand').map ->
          result = if $(this).prop('checked') then $(this).val() else null
          result
        $.ajax
          url: "#{category_path(@category)}"
          dataType: 'script'
          data:
            brand: brands.toArray()
        return
      return
/ Left colunm
#left_column.column.col-xs-12.col-sm-3
  / block category
  .block.left-module
    %p.title_block Разделы
    .block_content
      / layered
      .layered.layered-category
        .layered-content
          %ul.tree-menu
            - @categories.find_each do |category|
              %li
                %span
                = link_to category.name, category
      / ./layered
  / ./block category
  / block filter
  .block.left-module
    %p.title_block Фильтр
    .block_content
      / layered
      .layered.layered-filter-price
        / filter price
        .layered_subtitle Стоимость
        .layered-content.slider-range
          .slider-range-price{"data-label-reasult" => "",
                              "data-max" => "#{number_with_precision(@category.max_product_price + 25, precision: 0)}",
                              "data-min" => "#{number_with_precision(@category.min_product_price - 25, precision: 0)}",
                              "data-unit" => "грн.",
                              "data-value-max" => "#{number_with_precision(@category.max_product_price, precision: 0)}",
                              "data-value-min" => "#{number_with_precision(@category.min_product_price, precision: 0)}"}
          .amount-range-price
            = number_to_currency(@category.min_product_price, precision: 0, locale: :uk)
            \-
            = number_to_currency(@category.max_product_price, precision: 0, locale: :uk)
        / ./filter brand
        .layered_subtitle Бренд
        .layered-content.filter-brand
          %ul.check-box-list
            - @category.brands.each do |brand|
              %li
                = check_box_tag nil, brand.id, false, id: brand.name.parameterize(separator: '_'), class: 'product-brand'
                = label_tag brand.name.parameterize(separator: '_') do
                  %span.button
                  = brand.name
        / ./filter brand
      / ./layered
  / ./block filter
