- breadcrumb :product, @product
.columns-container
  #columns.container
    / row
    .row
      = render 'sidebar'
      #center_column.center_column.col-xs-12.col-sm-9
        / Product
        #product
          .primary-box.row
            .pb-left-column.col-xs-12.col-sm-6
              / product-imge
              .product-image
                .product-full
                  = image_tag @product.image.url(:product),
                              alt: "#{@product.name}",
                              id: 'product-zoom',
                              data: {"zoom-image" => "#{@product.image.url(:large)}"}
                #gallery_01.product-img-thumb
                  %ul.owl-carousel{"data-dots" => "false", "data-items" => "3", "data-margin" => "20", "data-nav" => "true"}
                    %li
                      = link_to '#', data: {'image' => @product.image.url(:product), 'zoom-image' => @product.image.url(:large)} do
                        = image_tag @product.image.url(:thumb), id: 'product-zoom'
                    - @product.image_variants.each do |image_variant|
                      %li
                        = link_to '#', data: {'image' => image_variant.image.url(:product), 'zoom-image' => image_variant.image.url(:large)} do
                          = image_tag image_variant.image.url(:thumb),
                                      alt: "#{@product.name}",
                                      id: 'product-zoom',
                                      data: {"zoom-image" => "#{image_variant.image.url(:large)}"}
                / product-imge
            .pb-right-column.col-xs-12.col-sm-6
              %h1.product-name= @product.name
              .info-orther
                %span.text-muted
                  Код товара:
                  = @product.id
                - if !@product.in_stock
                  %span.not-in-stock Нет в наличии
              .product-price-group
                %span.price= number_to_currency(@product.price, precision: 0, locale: :uk)
                - if @product.old_price.present?
                  .discount-container
                    %span.old-price.text-muted= number_to_currency(@product.old_price, precision: 0, locale: :uk)
                    %br
                    %span.discount= discount(@product.old_price, @product.price)
              = form_for @product.line_items.new, remote: true do |f|
                = f.hidden_field :product_id, value: @product.id
                .form-option
                  .attributes.size-chart
                    .attribute-label Размер:
                    .attribute-list
                      = f.select :size, options_for_select(@product.sizes, @product.sizes.first)
                      - if @product.size_chart.present?
                        = link_to 'Как подобрать размер?', @product.size_chart.url, id: 'size_chart', class: 'fancybox'
                .form-action
                  .button-group
                    .attributes.qty-container
                      .attribute-list.product-qty
                        .qty
                          = f.text_field :quantity, id: 'option-product-qty', value: '1'
                        .btn-plus
                          %a.btn-plus-up{:href => "#"}
                            %i.fa.fa-caret-up
                          %a.btn-plus-down{:href => "#"}
                            %i.fa.fa-caret-down
                    = f.button class: 'btn btn-cart-orange' do
                      = fa_icon('shopping-cart lg')
                      В корзину
              - if @product.description.present?
                .form-option
                  = sanitize(@product.description)
          .page-product-box
            %h3.heading Вам так же может понравиться
            %ul.product-list.owl-carousel{"data-autoplayhoverpause" => "true", "data-autoplaytimeout" => "1000", "data-dots" => "false", "data-loop" => "true", "data-margin" => "30", "data-nav" => "true", "data-responsive" => "{\"0\":{\"items\":1},\"600\":{\"items\":3},\"1000\":{\"items\":4}}"}
              - @related_products.each do |product|
                %li
                  .left-block
                    = link_to category_product_path(product.category, product) do
                      = image_tag(product.image.url(:index), alt: 'product', class: 'img-responsive')
                    .group-price
                      - if product.novelty?
                        %span.product-new Новинка
                      - if product.old_price.present?
                        %span.product-sale Скидка
                  .right-block.text-center
                    %h5.product-name
                      = link_to category_product_path(product.category, product) do
                        = product.name
                    .content_price
                      - if product.old_price.present?
                        %span.price.old-price= number_to_currency(product.old_price, locale: :uk, precision: 0)
                      %span.price.product-price= number_to_currency(product.price, locale: :uk, precision: 0)
                    %br
                    = link_to 'Подробнее', category_product_path(product.category, product), class: 'btn btn-cart-orange'