#header.header
  .top-header
    .container
      .nav-top-links
        %a.first-item{:href => "#"}
          = fa_icon 'phone', text: '(096) 88-69-888', class: 'top-header-icons'
        %a{:href => "#"}
          = fa_icon 'envelope', text: 'pin-shop@mail.ua', class: 'top-header-icons'
      .support-link
        %a{:href => "#"} Доставка и оплата
        %a{:href => "#"} Контакты
      #user-info-top.user-info.pull-right
        .dropdown
          %a.current-open{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#"}
            %span Кабинет
          %ul.dropdown-menu.mega_dropdown{:role => "menu"}
            %li
              %a{:href => "login.html"} Войти
            %li
              %a{:href => "#"} Желания
  / /.top-header
  / MAIN HEADER
  .container.main-header
    .row
      .col-xs-12.col-sm-3.logo
        = link_to root_url do
          = image_tag('logo', alt: 'Pinshop - интернет-магазин молодежной одежды')
      .col-xs-7.col-sm-7.header-search-box
        %form.form-inline
          .form-group.form-category
            %select.select-category
              %option{:value => "2"} Все категории
              %option{:value => "1"} Мужская одежда
              %option{:value => "2"} Женская одежда
              %option{:value => "2"} Детская одежда
          .form-group.input-serach
            %input{:placeholder => "футболка reebok, спортивный костюм nike...", :type => "text"}/
          %button.pull-right.btn-search{:type => "submit"}
      #cart-block.col-xs-5.col-sm-2.shopping-cart-box
        = link_to cart_path(@cart), class: 'cart-link' do
          %span.title
            Товаров:
            = @cart.total_items
          %span.total
            = number_to_currency(@cart.total_price, locale: :uk) if @cart.line_items.present?
        - if @cart && @cart.line_items.present?
          .cart-block
            - if @cart
              = render @cart