#header.header
  .top-header
    .container
      .nav-top-links
        %a.first-item{:href => "#"}
          = fa_icon 'phone', text: '(096) 88-69-888', class: 'top-header-icons'
        %a{:href => "#"}
          = fa_icon 'envelope', text: 'pin-shop@mail.ua', class: 'top-header-icons'
      .support-link
        %a{:href => "#"} Доставка и оплата
        %a{:href => "#"} Контакты
      #user-info-top.user-info.pull-right
        .dropdown
          %a.current-open{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#"}
            %span Кабинет
          %ul.dropdown-menu.mega_dropdown{:role => "menu"}
            %li
              %a{:href => "login.html"} Войти
            %li
              %a{:href => "#"} Желания
  / /.top-header
  / MAIN HEADER
  .container.main-header
    .row
      .col-xs-12.col-sm-3.logo
        = link_to root_url do
          = image_tag('logo', alt: 'Pinshop - интернет-магазин молодежной одежды')
      .col-xs-7.col-sm-7.header-search-box
        %form.form-inline
          .form-group.form-category
            %select.select-category
              %option{:value => "2"} Все категории
              %option{:value => "1"} Мужская одежда
              %option{:value => "2"} Женская одежда
              %option{:value => "2"} Детская одежда
          .form-group.input-serach
            %input{:placeholder => "футболка reebok, спортивный костюм nike...", :type => "text"}/
          %button.pull-right.btn-search{:type => "submit"}
      #cart-block.col-xs-5.col-sm-2.shopping-cart-box
        %a.cart-link{:href => "order.html"}
          %span.title Корзина
          %span.total 2 items - 122.38 €
          %span.badge.notify-left 2
        .cart-block
          .cart-block-content
            %h5.cart-title В корзине 2 товара
            .cart-block-list
              %ul
                %li.product-info
                  .p-left
                    %a.remove_link{:href => "#"}
                    %a{:href => "#"}
                      = image_tag('product-100x122', class: 'img-responsive', alt: 'p10')
                  .p-right
                    %p.p-name Футболка Reebok
                    %p.p-rice 61,19 грн.
                    %p К-во: 1
                %li.product-info
                  .p-left
                    %a.remove_link{:href => "#"}
                    %a{:href => "#"}
                      = image_tag('product-s5-100x122', class: 'img-responsive', alt: 'p10')
                  .p-right
                    %p.p-name Спортивный костюм Nike
                    %p.p-rice 61,19 грн.
                    %p К-во: 1
            .toal-cart
              %span На сумму
              %span.toal-price.pull-right 122.38 грн.
            .cart-buttons
              %a.btn-check-out{:href => "order.html"} Оформить заказ
