#header.header
  .top-header
    .container
      .nav-top-links
        // %a.first-item{:href => "#"}
        //   = fa_icon 'phone', text: '(096) 88-69-888', class: 'top-header-icons'
        // %a{:href => "#"}
        //   = fa_icon 'envelope', text: 'pin-shop@mail.ua', class: 'top-header-icons'
      .support-link
        = fa_icon 'phone', class: 'top-header-icons'
        = link_to '38 (096) 88-69-888', "tel:+380968869888"
        = fa_icon 'envelope', class: 'top-header-icons'
        = link_to 'pin-shop@mail.ua', "mailto:pin-shop@mail.ua"
  / /.top-header
  / MAIN HEADER
  .container.main-header
    .row
      .col-xs-12.col-sm-3.logo
        = link_to root_url do
          = image_tag('logo', alt: 'Pinshop - интернет-магазин молодежной одежды')
      .col-xs-7.col-sm-7.header-search-box
        = form_tag '/search', method: :get, class: 'form-inline' do
          .form-group.form-category
            Поиск
          .form-group.input-serach
            = text_field_tag 'search', nil, placeholder: 'футболка, reebok, шорты...'
          = button_tag '', class: 'pull-right btn-search'
      #cart-block.col-xs-5.col-sm-2.shopping-cart-box
        - if @cart
          = render @cart